      header {
        font: gothic;
        color: white;
        font-size: 50px;
        margin-right: 20px;

        background-color: rgb(23, 37, 63);
      }
      #search-container {
        position: bottom;
       
      }
      
      #history{
        display: flex;
      flex-direction: column;
      float: left;
      }
      
      #currentWeather {
        border: 5px solid black;
        height: 300px;
        width: 1000px;
        padding: 2%;
        /* float: right; */
        position: absolute;
        top: 10%;
        right: 1%;
      }

      .pattern {
        display: flex;
      flex-direction: row;
      position: absolute;
        top: 50%;
        right: 15%;

       
      }

      #blocks {
      position: right;
       display: flex;
       flex-direction: column;
      
      }

      #fheading {
       position: absolute;
       right: 50%;
       bottom: 45%;
       left: 21%;
              
       }

      .box {
        color: white;
        background-color: #2b2;
        border: 5px solid rgb(23, 37, 63);
        background: rgb(23, 37, 63);
      width: 50%;
      margin: 20px;
      font-size: 12px;
     margin-top: 40px;
     
          }