      header {
        font: gothic;
        color: white;
        font-size: 50px;
        margin-right: 20px;

        background-color: rgb(23, 37, 63);
      }
      #currentWeather {
        border: 5px solid black;
        height: 300px;
        width: 700px;
        padding: 2%;
        float: right;
        position: absolute;
        top: 10%;
        right: 20%;
      }

      .pattern {
        display: flex;
      flex-direction: row;
      position: absolute;
        top: 50%;
        right: 15%;

       
      }
/* 
      #blocks {
        display: flex;
        flex-direction: column;
        float: right;
        padding: 10%;
      } */

      .box {
        color: white;
        background-color: #2b2;
        border: 5px solid rgb(23, 37, 63);
        background: rgb(23, 37, 63);
      width: 50%;
      margin: 20px;
     
          }